* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: #ffffff;
}
a {
  text-decoration: none;
  color: rgb(97, 97, 97);
}

li {
  list-style: none;
}
.App {
  background-image: linear-gradient(-225deg, #ffffff 0%, #ffe6fa 100%);
}

.btns {
  padding: 10px 20px;
  margin-right: 6px;
  border: none;
  border: 0.6px solid #ccc;
  border-radius: 5px;
  color: #323232;
  cursor: pointer;
}
.thon {
  padding: 10rem;
  font-size: 2rem;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.btn-primary {
  background-color: #323232;
  color: white !important;
  padding: 0.5rem 1rem;
  border-radius: 20px 10px;
}
.bg-me {
  color: #323232;
  background: #323232;
}
.heading {
  background: #cf70c5;
  background: linear-gradient(
    to right,
    #cf70c5 0%,
    #272e24 50%,
    #332828 50%,
    #ff61ca 50%,
    #cf1512 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
